/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --page-bg-img: url(../images/cover-image-light.png);
  --page-bg-color: #fff1f7;
  --accent-color: #ff8dcb;
  --title-decor-color: var(--text-color);
  --title-color: #ffc2e6;
  --button-outline-color: var(--text-color);
  --menu-button-hover: #32312d66;
  --text-color: #353430;
  --section-title-color: var(--text-color);
  --button-text-color: var(--text-color);
  --decorated-zone-color: var(--text-color);
}

.theme-light .header__rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --page-bg-img: url(../images/cover-image-light.png);
    --page-bg-color: #fff1f7;
    --accent-color: #ff8dcb;
    --title-decor-color: var(--text-color);
    --title-color: #ffc2e6;
    --button-outline-color: var(--text-color);
    --menu-button-hover: #32312d66;
    --text-color: #353430;
    --section-title-color: var(--text-color);
    --button-text-color: var(--text-color);
    --decorated-zone-color: var(--text-color);
  }

  .header__rec {
    display: none;
  }
}
